body {
   background-color: darkgray;   
    }
h1{ color: yellow;  
    text-align: center;
    font-size: 60;
    font-family: 'Rampart One', cursive;
    }
a:link{ 
    color:aquamarine;
}
a:visited{
    color:cadetblue;
    }
a:hover{
    color:orange;
    }
a {
    text-decoration-color: chartreuse;
    text-decoration-line: line-through;
    font-size: 20pt;
    font-family: 'Lobster', cursive;
;
    }
p{
    text-decoration-line: underline;
    font-family: 'Cormorant Garamond', serif;
    text-decoration-color: darkcyan;
}
*{
    margin: 0px;
    padding: 0px;
}
div.header{
    width: 100%;   
    background-color: navy;
}
div.right{
    float: right;
    width: 70%;
    height: 500px;
    background-color: aqua
}
div.left{
    float: left;
    width: 30%;
    height: 500px;
    background-color: chartreuse
}
div.footer{
    float: left;
    width:  30%;
    height: 500px;
    
    
    
}
p,a{
    margin: 10px
}



